.contact{
  margin-top: vw(1920px,80px);
  &__wrap{
    @include temp-wrap;
    max-width: vw(1920px,800px);
  }
  &__box{
    padding: vw(1920px,32px) vw(1920px,48px);
    background: #FFF;
    border: vw(1920px,2px) solid $black;
    border-radius: vw(1920px,5px);
    @include mq(sm){
      padding: vw(1920px,24px) vw(1920px,16px);
    }
  }
  &__none{
    max-width: max-content;
    margin: 0 auto vw(1920px,24px);
    padding: vw(1920px,16px);
    background: #000;
    font-weight: 700;
    text-align: center;
    animation: kirakira 1s infinite;
    @keyframes kirakira {
      0%{
        color: #F00;
      }
      10%{
        color: #F0F;
      }
      20%{
        color: #0FF;
      }
      30%{
        color: #0F0;
      }
      40%{
        color: #FF0;
      }
      50%{
        color: #00F;
      }
      60%{
        color: #0F0;
      }
      70%{
        color: #F0F;
      }
      80%{
        color: #0FF;
      }
      90%{
        color: #FF0;
      }
      100%{
        color: #F00;
      }
    }
  }
}

.form{
  &__content{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    &:nth-of-type(1){
      margin-top: 0;
    }
    input,textarea{
      width: 100%;
      padding: 10px;
      background: $white;
      border: 2px solid $black;
      box-shadow: inset 2px 2px 8px #999;
      font-size: 16px;
      font-family: "Noto Sans JP", sans-serif;
      &:focus{
        outline: none;
      }
    }
    textarea{
      resize: none;
    }
  }
  &__title{
    color: $darkblue;
    font-weight: 700;
  }
  &__btn{
    margin-top: 48px;
    button{
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
      padding: 10px 0;
      background: $darkblue;
      border: 2px solid $darkblue;
      color: #FFF;
      display: block;
      font-size: 16px;
      font-weight: 700;
      transition: background .5s, color .5s;
      &:hover{
        background: #FFF;
        color: $darkblue;
      }
    }
  }
  &__error{
    margin-top: 16px;
    color: #F00;
    display: none;
    text-align: center;
    &.show{
      display: block;
    }
  }
}