$breakpoint-sm: 480px !default;
$breakpoint-md: 834px !default;
$breakpoint-tb: 1024px !default;

$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 834px)',
  'tb': 'screen and (max-width: 1024px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$black: #01002e;
$darkblue: #090766;
$white: #EEE;
$red: #8a2020;
$yellow: #c9bb00;
$green: #258a25;
$blue: #2c2c9b;

@function vw($base, $px) {
  @return calc($px / $base) * 100vw;
}

$gradStart: #414083;
$gradCenter: #100f4d;
$gradEnd: #240752;

@mixin gradation($direction){
  background: linear-gradient($direction, $gradStart 0%, $gradCenter 55%, $gradEnd 100%);
}

@mixin temp-wrap{
  width: 90%;
  max-width: vw(1920px,1040px);
  margin: 0 auto;
  @include mq(sm){
    max-width: 100%;
  }
}

@mixin temp-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

@mixin temp-btn{
  width: 100%;
  max-width: vw(1920px,240px);
  padding: vw(1920px, 20px) 0;
  position: relative;
  background: $darkblue;
  color: #FFF;
  display: block;
  font-weight: 700;
  text-align: center;
  transition: background .4s, color .4s;
  &::before{
    width: calc(100% + vw(1920px,12px));
    height: calc(100% + vw(1920px,12px));
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border: vw(1920px,3px) solid $darkblue;
    translate: -50% -50%;
  }
  &::after{
    position: absolute;
    top: 50%;
    right: vw(1920px,20px);
    border-style: solid;
    border-top: vw(1920px,6px) solid transparent;
    border-bottom: vw(1920px,6px) solid transparent;
    border-left: vw(1920px,10px) solid $white;
    border-right: 0;
    content: "";
    translate: 0 -50%;
    transition: border-color .4s, translate .4s;
  }
  &:hover{
    background: transparent;
    color: $darkblue;
    &::after{
      border-left: vw(1920px,10px) solid $darkblue;
      translate: vw(1920px,10px) -50%;
    }
  }
  &.white-color{
    background: $white;
    color: $darkblue;
    &::before{
      border-color: $white;
    }
    &::after{
      border-left: vw(1920px,10px) solid $darkblue;
    }
    &:hover{
      background: transparent;
      color: $white;
      &::after{
        border-left: vw(1920px,10px) solid $white;
      }
    }
  }
}

@mixin home-head{
  color: $darkblue;
  font-family: "Oswald", sans-serif;
  font-size: vw(1920px,48px);
  font-weight: 700;
  text-align: center;
  @include mq(sm){
    font-size: vw(390px,32px);
  }
  span{
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-size: vw(1920px,14px);
    opacity: .8;
    @include mq(sm){
      font-size: vw(390px,12px);
    }
  }
}

@mixin circle{
  aspect-ratio: 1;
  background: $red;
  border-radius: 50%;
}

@mixin triangle{
  aspect-ratio: 1;
  background: $green;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@mixin square{
  aspect-ratio: 1;
  background: $blue;
}

@mixin cross{
  position: relative;
  aspect-ratio: 1;
  &::before,&::after{
    width: 115%;
    height: 25%;
    position: absolute;
    inset: 50%;
    background: $yellow;
    content: "";
    display: block;
    translate: -50% -50%;
  }
  &::before{
    rotate: 45deg;
  }
  &::after{
    rotate: -45deg;
  }
}