body{
  position: relative;
  color: $black;
  font-family: "Noto Sans JP", sans-serif;
  font-size: vw(1920px,16px);
  @include mq(sm){
    font-size: vw(390px,16px);
  }
}

.sp-only{
  display: none;
  @include mq(sm){
    display: block;
  }
}

.bread{
  &__wrap{
    @include temp-wrap;
    padding: vw(1920px,4px) 0;
  }
  &__list{
    column-gap: vw(1920px,10px);
    display: flex;
  }
  &__item{
    a{
      text-decoration: underline;
      &:hover{
        opacity: .7;
      }
    }
  }
  &__arrow{
    &::before{
      content: ">";
    }
  }
}

.page-title{
  &__bg{
    @include gradation(to right);
  }
  &__wrap{
    min-height: vw(1920px,320px);
    padding-top: vw(1920px,64px);
    align-items: center;
    display: flex;
    justify-content: center;
    @include temp-wrap;
  }
  &__head{
    color: #FFF;
    font-size: vw(1920px,48px);
    font-weight: 700;
  }
}

.sidebar{
  width: 100%;
  max-width: vw(1920px,240px);
}