@use "foundation" as *;

.p-contact{
  margin-top: 80rem;
  &__inner{
    max-width: 800rem;
  }
  &__box{
    padding: 32rem 48rem;
    position: relative;
    background: #FFF;
    border: 2rem solid $black;
    border-radius: 5rem;
    @include mq(sm){
      padding: 24rem 16rem;
    }
    &::before{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5rem;
      background-color: #FFF3;
      backdrop-filter: blur(5px);
      content: "";
    }
  }
  &__none{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.7;
    translate: -50% -50%;
    text-align: center;
    @include mq(sm){
      font-size: 16rem;
    }
    a{
      color: #00F;
      text-decoration: underline;
      &:hover{
        opacity: .7;
      }
    }
  }
}