@use "foundation" as *;

.p-worksArchive{
  &__list{
    margin-top: 80rem;
    display: grid;
    gap: 24rem;
    grid-template-columns: repeat(3,1fr);
  }
  &__item{
    padding: 16rem 16rem 24rem;
  }
  &__thumb{
    width: 100%;
    aspect-ratio: 16/9;
    img{
      height: 100%;
    }
  }
  &__title{
    margin-top: 10rem;
    color: $darkblue;
    font-weight: 700;
    text-align: center
  }
  &__content{
    margin-top: 12rem;
    align-items: center;
    display: flex;
    font-size: 12rem;
    justify-content: space-between;
  }
  &__name{
    width: 74rem;
    padding: 4rem 8rem;
    background: $darkblue;
    color: #FFF;
    text-align: center;
  }
  &__text{
    width: calc(100% - 82rem);
  }
  &__btn{
    width: 180rem;
    margin: 32rem auto 0;
    padding: 14rem;
    font-size: 14rem;
  }
}

.p-worksSingle{
  &__inner{
    max-width: 800rem;
  }
  &__thumb{
    margin-top: 40rem;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    pointer-events: none;
    img{
      height: 100%;
    }
  }
  &__info{
    width: 100%;
    max-width: 640rem;
    margin: 64rem auto 0;
    li{
      padding: 32rem 16rem;
      position: relative;
      align-items: flex-start;
      border-top: 1rem solid $darkblue;
      column-gap: 48rem;
      display: flex;
      &:last-of-type{
        border-bottom: 1rem solid $darkblue;
      }
    }
  }
  &__title{
    width: 110rem;
    margin-top: 5rem;
    padding: 4rem 8rem;
    position: relative;
    background: $darkblue;
    color: #FFF;
    font-size: 14rem;
    font-weight: 700;
    text-align: center;
    &::before{
      width: 1rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: $darkblue;
      content: "";
    }
  }
  &__content{
    width: calc(100% - 158rem);
    padding: 2rem 0;
    line-height: 1.75;
    a{
      color: #00F;
      text-decoration: underline;
      &:hover{
        opacity: .7;
      }
    }
  }
  &__other{
    margin-top: 100rem;
    column-gap: 24rem;
    display: flex;
    justify-content: center;
    a{
      color: $darkblue;
      display: block;
      text-decoration: underline;
    }
  }
}